

.page2 {
    width: 100vw;
    height: 100vh; 
    position: absolute;
    top: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.edubox {
    width: 75vw;
    height: 90vh;
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    /* background: rgba(255, 255, 255, 0.056); */
    background: rgba(16, 13,37, 0.9);
    /* box-shadow: 0 4px 30px rgb(226, 223, 223); */
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    color: white;
    overflow-y: hidden;

}

.title {
    background: rgba(21, 16,48, 0.9);
    backdrop-filter: blur(5px);
    height: 60%;
    border-radius: 20px;
}

.title h1 {
    margin-top: 25px;
    margin-left: 50px;
    font-size: 50px;
}

.title h2{
    margin-left: 50px;
    font-size: medium;
    font-weight: lighter;
    font-style: italic;

}

.educards {
    position: absolute;
    top: 160px;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    overflow-y: hidden;
}


#card {
    border-radius: 20px;
    background-color: #090311;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    margin-left: 30px;
}



.logo img {
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.name {
    margin-top: 10px;
    font-weight: lighter;
    color: #3989bd;
    /* color:rgba(76, 47, 143, 1) ; */
}

.status {
    margin-top: 20px;
    color: rgba(76, 47, 143, 1);
    font-size: larger;
    font-weight: bolder;
}

.uni {
    font-weight: lighter;
    color: rgba(0, 231,89, 1);
}

.course {
    color: #d61e72;
}

.link {
    margin-top: 20px;
    background-color: white;
    width: 80px;
    align-self: center;
    border-radius: 20px;
}

.link a {
    text-decoration: none;
}


@media only screen and (max-width:320px) {


    .educards{
        top: 100px;
        height: 180vh;
        align-items: center;
        justify-content: center;
    }

    .title h1{
        font-size: 20px;
    }
    .title{
        height: 100px;
    }
    
    #card{
        width: 250px;
        height: 350px;
    }

    .logo img{
        height: 100px;
        width: 100px;
    }

    .edubox{
        height: 200vh;
        width: 100vw;
    }

    .page2 {
        top: 150vh;
        height: 200vh;
        width: 120vw;
    }
}

