@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.page1 {
    width: 100vw;
    height: 120vh;
    overflow-y: hidden;
}



#back{
    width: 100vw;
}

.amal {
    position: absolute;
    top: 130px;
    right: 150px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transition: .2s ease-in-out;
    border: 10px solid rgba(102, 63,192, 1);
}




.animation-text {
    color: rgb(0, 231, 89);
}



.info-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 100px;
    left: 100px;
    font-size: 30px;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    width: 400px;
    height: 350px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.056);
    box-shadow: 0 4px 30px rgba(226, 223, 223, 0.045);
    backdrop-filter: blur(5px);
    transition: .5s;
    transform-style: preserve-3d;
    
    
}

.space1 , .space2{
    height: 50px;
    transform: translateZ(20px);
}

.middle{
    transform: translateZ(20px);
}



#name {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a9354a;
    transform: translateZ(20px);
}



.space2{
    background: white;
    width: 100px;
    height: 30px;
    align-self: center;
    border-radius: 8px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space2 a{
    font-size:15px;
    text-decoration: none;
}


.tool-box {
    position: absolute;
    top: 70vh;
    margin-left: 50px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 55vw;
    justify-content: center;
}

#tool{
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    box-shadow: 0 4px 30px rgba(226, 223, 223, 0.045);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.056);
}

#tool-img {
    width: 60px;
}

@media only screen and (max-width:320px) {

    .page1 {
        width: 120vw;
    }

    .info-text{
        position: absolute;
        left: 60px;
        top: 100px;
        width: 270px;
        height: 240px;
        font-size: 20px;
        overflow-y: hidden;
    }

    .amal {
        width: 200px;
        height: 200px;
        top: 350px;
        left: 100px;
    }

    .tool-box {
        margin-left: 80px;
        gap: 15px;
        width: 70vw;
        top: 90vh;
    }
    
}