@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  overflow-x: hidden;
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0px;
  
}

*::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background: transparent;
}

*::-webkit-scrollbar-thumb{
  background: rgba(4, 4, 4, 0.5);
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px hsla(0,0%, 100%, .25) , inset -2px -2px 2px rgba(0, 0, 0, .2);
}

.bg {
  height: 690vh;
  background: #17163e;
  z-index: -5;
}