@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Lobster&family=Shojumaru&family=The+Nautigal:wght@400;700&display=swap');

.navigation {
    width: 100vw;
    height: 60px;
    /*background-color:rgb(5, 8, 22) ;*/
    background: transparent;
    position: fixed;
    color: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 100;

}

.amal-logo h1 {
    font-family: "Shojumaru", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
}

.amal-logo , .choose {
    margin: 0px 50px 0px 50px;
}


.amal-logo img {
    width: 60px;
    border-radius: 100%;
}

.amal-logo {
    display: flex;
    text-align: center;
}

.choose ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 50px;
}


.choose ul li {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    align-items: center;
    justify-content: center;
    
   
}

#nav-bttn:hover{
    background-color: rgba(255, 255, 255, .15); 
    transition: ease-in-out .2s;
}

#bnav-bttn:hover{
    background-color: rgba(255, 255, 255, .15); 
    transition: ease-in-out .2s;
}

.bottombar{
    height: 100px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.navigation2{
    height: 50px;
    background: rgba(255, 255, 255, 0.056);
    border: 1px solid white;
    box-shadow: 0 4px 30px rgba(226, 223, 223, 0.045);
    backdrop-filter: blur(5px);
    overflow-y: hidden;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation2 ul {
    display: flex;
    gap: 60px;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.navigation2 ul li {
    scale: 1.5;
    color: white;
    width: 25px;
    border-radius: 80%;
}

@media only screen and (max-width:426px) {

    *{
        width: 100%;
    }

    .choose{
        display: none;
    }
    /* .bottombar{
        display: flex;
    } */
    .amal-logo{
        margin-left: 20%;
    }

    .navigation2{
        margin-left: 0px;
    }
 }

 @media only screen and (max-width:320px) {

    *{
        width: 100%;
    }

    .navigation{
        width: 100%;
    }

    .choose{
        display: none;
    }
    /* .bottombar{
        display: flex;
    } */
    .amal-logo{
        margin-left: 20%;
    }

    .navigation2{
        margin-left: 0px;
    }
 }

 





