.page4 {
    position: absolute;
    top: 320vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-y: hidden;
}

.sm{
    display: none;
}

.wtext h1{
    font-size: 50px;
    color: white;
    font-weight:900;
    margin-top: 100px;
}

.wtext h2{
    color: white;
    font-style: italic;
    font-weight: lighter;
}

.work {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.work-card {
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.main-line-circle{
    display: flex;
    width: 100px;
    justify-content: center;
}

.main-line{
    width: 5px;
    height: 220vh;
    background-color: white;
    border-radius: 20px;
}

.circle-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 65vh;
    position: absolute;

}

.main-circle {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: white;
    margin-left: 180px;
}


#work-card123 {
    display: flex;
}



.desc{
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(226, 223, 223, 0.045);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    color: white;
    text-align: center;
}

.triangle-right {
    position: relative;
    top: 40px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid #555;
	border-bottom: 10px solid transparent;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 15px solid #555;
	border-bottom: 10px solid transparent;
}


.logo-circle {
    position: relative;
    left: 0px;
    top: 20px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
}

.lg {
    width: 100vw;
    height: 240vh;
    overflow-y: hidden;
}

.lg .wtext{
    text-align: center;
}

.lg .work {
    width: 100vw;
}



.partl {
    width: 45%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.partl .desc , .partr .desc{
    width: 500px;
    height: 500px;
}

.partl .work-card {
    justify-content: center;
    align-items: end;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.partl .triangle-right{
    top: -400px;
}

.timeline {
    width: 500px;
    height: 500px;
}

.lg .main-line {
    height: 240vh;  
}

.lg .circle-container{
    position: relative;
    right: 35px;
    top: -300px;
    display: flex;
    gap: 430px;
}
.linepart {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partr {
    width: 45%;
}

.partr .work-card {
    flex-direction: row;
    gap: 0px;
}

.partr .triangle-left{
    margin-top: 80px;
}

@media only screen and (max-width:426px) {
    .page4{
        top: 470vh;
    }
    .sm {
        display: block;
    }
    .lg {
        display: none;
    }




}



@media only screen and (max-width:320px) {
    .page4{
        top: 470vh;
    }
    .sm {
        display: block;
    }
    .lg {
        display: none;
    }




}